numpy==1.26.4
scipy==1.11.4
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
gensim==4.3.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
streamlit==1.39.0
pandas==2.2.0
scikit-learn==1.4.0
nltk==3.8.1
plotly==5.18.0
yfinance==0.2.36